services:
  db:
    image: mysql
    restart: always
    environment:
      MYSQL_DATABASE: 'university-db'
      MYSQL_USER: 'user'
      MYSQL_PASSWORD: 'password'
      MYSQL_ROOT_PASSWORD: 'password'
    ports:
      - '3307:3306'
    volumes:
      - university-db:/var/lib/mysql
volumes:
  university-db: